:root {
  --cell-border: grey solid 2px;
  --cell-width: 100px;
}

.tictactoe {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 40px 0 0 calc(50% - var(--cell-width) * 1.5);
  position: relative;
  width: calc(var(--cell-width) * 3 + 4px);
}

.tictactoe .tictactoe__row {
  display: flex;
  border-bottom: var(--cell-border);
}

.tictactoe .tictactoe__row:nth-child(3) {
  border-bottom: none;
}

.tictactoe .tictactoe__row .cell {
  border-right: var(--cell-border);
  height: var(--cell-width);
  position: relative;
  width: var(--cell-width);
}

.tictactoe .tictactoe__row .cell:nth-child(3) {
  border-right: none;
}

.cell__circle {
  background: white;
  border: gray solid 4px;
  border-radius: 50px;
  cursor: not-allowed;
  height: calc(var(--cell-width) - 16px);
  margin: 4px;
  width: calc(var(--cell-width) - 16px);
}

.cell__cross {
  cursor: not-allowed;
  height: calc(var(--cell-width) - 4px);
  position: absolute;
  right: -2px;
  top: -6px;
  width: calc(var(--cell-width) - 4px);
}

.cell__cross:before,
.cell__cross:after {
  position: absolute;
  left: 41px;
  content: " ";
  height: calc(var(--cell-width) + 14px);
  width: 4px;
  background-color: gray;
}
.cell__cross:before {
  transform: rotate(45deg);
}
.cell__cross:after {
  transform: rotate(-45deg);
}

.cell__empty {
  background: none;
  height: 100%;
  width: 100%;
  border: none;
}

.strike-through {
  background-color: red;
  height: 7px;
  left: -10px;
  position: absolute;
  width: 324px;
}

.strike-through-col {
  height: 324px;
  top: -10px;
  width: 7px;
}

.strike-through-diag {
  top: 150px;
  left: -70px;
  width: 440px;
}
